<md-bottom-sheet>Hello!
  <md-subheader>
    Contact: jeffkealy@gmail.com
  </md-subheader>
  <md-list>
    <md-item>
      <md-button>
        <md-icon md-svg-icon="assets/ic_call_black_24px.svg"></md-icon>
      </md-button>
    </md-item>
    <md-item>
      <md-button>
        <md-icon md-svg-icon="assets/ic_chat_black_24px.svg"></md-icon>
      </md-button>
    </md-item>
    <md-item>
      <md-button>
        <md-icon md-svg-icon="assets/ic_email_black_24px.svg"></md-icon>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>
